<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='images/logo-ico.png') }}">
    <title>Twitter Sentiment Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='content/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='content/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='content/tempusdominus-bootstrap-4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='content/select2.min.css') }}">

    <script src="{{ url_for('static', filename='scripts/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/fontawesome-all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/site.js') }}"></script>

    <script>
        $(document).ready(function () {
            $(".menu-selection").removeClass("active");
            if (window.location.href.endsWith("home"))
                $("#dashboard").addClass("active");
            else if (window.location.href.endsWith("profile_list"))
                $("#profile_list").addClass("active");
            else if (window.location.href.endsWith("profile_search"))
                $("#profile_search").addClass("active");
            else if (window.location.href.endsWith("profile_classification"))
                $("#profile_classification").addClass("active");
            else if (window.location.href.endsWith("profile_custom_list"))
                $("#profile_custom_list").addClass("active");
            else if (window.location.href.endsWith("profile_compare"))
                $("#profile_compare").addClass("active");
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a id="dashboard" class="nav-link menu-selection" href="{{ url_for('home') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a id="profile_list" class="nav-link menu-selection" href="{{ url_for('profile_list') }}">Last added profiles</a>
                    </li>
                    <li class="nav-item">
                        <a id="profile_search" class="nav-link menu-selection" href="{{ url_for('profile_search') }}">Profile search</a>
                    </li>
                    <li class="nav-item">
                        <a id="profile_classification" class="nav-link menu-selection" href="{{ url_for('profile_classification') }}">Profile classifications</a>
                    </li>
                    <li class="nav-item">
                        <a id="profile_custom_list" class="nav-link menu-selection" href="{{ url_for('profile_custom_list') }}">Profile lists</a>
                    </li>
                    <li class="nav-item">
                        <a id="profile_compare" class="nav-link menu-selection" href="{{ url_for('profile_compare') }}">Profile compare</a>
                    </li>
                </ul>
            </nav>

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" style="font-size: 14px;">
                {% block content %}{% endblock %}
                <hr />
                <footer>
                    <p>&copy; {{ year }} - Twitter Sentiment Analyzer</p>
                </footer>
            </main>
        </div>
    </div>
</body>
</html>
